/* Start Typography */

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
} 
h1{
    font-size: 50px;
    font-weight: 600;
    padding: 10px 0;
}
h2{
    font-size: 40px;
}
.flexible-area{
    display: flex;
    margin: 0 0 30px;
}
.child-half{
    flex-basis: 50%;
    padding: 20px 5%;
}
.child-half img{
    max-width: 100%;
}
p{
    line-height: 1.5em;
}
.name-highlight{
    color: orange;
}
.link{
    background-image: linear-gradient(90deg, salmon, tomato);
    color: #fff;
    font-weight: bold;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
}
.link:hover{
    text-decoration: underline;
}
/* End Typography */


/* Start Banner Area */

#banner-area{
    background: url(images/top-banner.png) no-repeat;
}
#banner-area h3 {
    margin: 50px 0 6px;
}
#banner-area h2{
    padding-bottom: 20px;
}
#banner-area h4{
    padding: 0 0 10px;
}
#banner-area p{
    margin: 0 0 20px;
}

/* End Banner Area */


/* Start Dream Part */

#dream-area{
    background: url(images/dream-bg.png) no-repeat;
    background-position: right;
}
#dream-area .child-half:last-child{
    padding: 0;
}
#dream-area h2{
    padding: 20px 0 40px;
}
#dream-area h3{
    padding-bottom: 10px;
}
#dream-area P{
    padding-bottom: 20PX;
}

/* End Dream Part */



/* Start Experience Part */

#experience-area .inner-experience{
    background: url(images/exp-bg.png) no-repeat;
    background-position: left;
}
#experience-area .inner-experience h2{
    font-size: 35px;
    padding: 10px 0;
}
#experience-area .inner-experience .child-experience{
    flex-basis: 50%;
    margin: 20px 5%;
    padding: 30px 0 30px 30px;
    box-shadow: 10px 10px 40px gray;
    flex-direction: space-between;
}
#experience-area .inner-experience .child-experience:last-child{
    margin-left: 0;
}
#experience-area .inner-experience .child-experience h3{
    color: orange;
    padding: 5px 0;
}
#experience-area .inner-experience #left-border{
    border-left: 5px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#experience-area .inner-experience #right-border{
    border-left: 5px solid;
    border-image: linear-gradient(salmon, orange);
    border-image-slice: 1;
}

/* End Experience Part */


/* Start Footer Part */

#footer-area{
    padding: 20px 0;
}
#footer-area p{
    text-align: center;
}

/* End Footer Part */